<div class="petitionContainer colCenter">
    <div class="petitionWrapper">
        <h1 class=petitionHeader>Brexit</h1>
        <h3 class="petitionSubHeader"><strong>{ </strong>Pronunciation. Brit/'breksit/'<strong> }</strong></h3>
        <h3 class="petitionSubHeader"><span>Noun. Brexit </span> The (proposed...) withdrawal of the United Kingdom from the European Union, and the political process associated with it </h3>
        <h3 class="petitionSubHeader"><span>Verb. Brexiting </span> Theresa is telling everyone she is leaving the party, but if fact she is staying </h3>
        <h3 class="petitionSubHeader"><span>The reality. Brexit </span> To systematically f@!k up the best interests of a nation, actioned by self-serving cunning buffoons in an alarmingly cavalier and myopic manner!</h3>

        <h3 class="petitionSubHeader"><a href="/petition">Find out more about our cause here, {{first}}</a></h3>



    </div>
</div>
