<div class="petitionContainer colCenter">
    <div class="introContainer">
        <div class="brexitBackground"></div>
        <h3 class="petitionSubHeader fadeInfadeOut centered">A long time ago in a complex, parallel universe much like our own</h3>
        <h3 class="petitionSubHeader fadeInfadeOut centered delayOne">One word struck fear into the hearts of men</h3>
        <h3 class="petitionSubHeader fadeInfadeOut centered delayTwo">Except for a sinister group, banding it about beyond closed doors to further their own needs</h3>
    </div>
    <div class="petitionWrapper">
        <h1 class="petitionHeader fadeIn delayThree">Brexit</h1>
        <h3 class="petitionSubHeader fadeIn delayFour "><strong>{ </strong>Pronunciation. Brit/'breksit/'<strong> }</strong></h3>
        <h3 class="petitionSubHeader fadeIn delayFive"><span>Noun. Brexit </span> The (proposed...) withdrawal of the United Kingdom from the European Union, and the political process associated with it </h3>
        <h3 class="petitionSubHeader fadeIn delaySix"><span>Verb. Brexiting </span> Theresa is telling everyone she is leaving the party, but in fact she is staying, and doesn't know when or how to leave</h3>
        <h3 class="petitionSubHeader fadeIn delaySeven"><span>The reality. Brexit </span> To systematically f@!k up the best interests of a nation, actioned by self-serving cunning buffoons in an alarmingly cavalier and myopic manner!</h3>
        <p class="error_alert hide fadeIn delayEight">Click below to find out more></p>
        <a class="mainButton hide fadeIn delayNine" href="/petition">Find out more</a>
    </div>
</div>
