<div class="petitionContainer colCenter">
    <div class="petitionWrapper mt5">
        {{#unless loggedin}}
        <h1 class="petitionHeader brexitText fadeIn ">Brexit</h1>
        <h3 class="petitionSubHeader  fadeIn minDelay"><strong>{ </strong>Pronunciation. Brit/'breksit/'<strong> }</strong></h3>

        <p class="petitionBody fadeIn midDelay">Let’s face it, we’re all sick of hearing about it, not just the reality of Brexit, which appears to be dragging on ad infinitum but it’s the word itself that still permeates all matters British and European alike presently. Unfortunately, it appears we cannot currently reverse the madness of the act that this indelibly horrific term embodies, but we could make strides towards consigning this abomination into the swear jar of history, by taking measures towards removing it from the </br><a id="oxford" target="_blank" href="https://www.oxfordmail.co.uk/news/14968256.brexit-added-to-the-oxford-english-dictionary/">Oxford english Dictionary.</a>


            <p class="error_alert hide fadeIn delayOne">Register below to support our cause</p><a class="mainButton hide fadeIn delayOne" href="/registration">Register here</a>
        {{/unless}}

        {{#if loggedin}}
            <h3 class="petitionSubHeader fadeIn">Please, {{first}}, sign below to help us <span>brextricate, brextract & brexpunge </span>Brexit from the <span>brexicon</span> of everyday life. </br></br></h3>
            <form id="petitionFormField" class="hide fadeIn smallDelay" method="POST">
                <div class="canvasField">
                    <input id="signatureField" type="hidden" list="input" autocomplete="off" name="signature"></input>
                    <canvas id="signatureCanvas" width="380" height="200"></canvas>
                </div>
                <input name="_csrf" type="hidden" value="{{csrfToken}}">
                <div class="buttonContainer hide fadeIn smallDelay">
                    <button class="mainButton">Submit</button>
                    <div class="mainButton" id="canvasClear">clear</div>
                </div>
            </form>
        {{/if}}
    </div>


{{#if error}}
    <p class="error_alert">{{error}}</p>
{{/if}}
</div>
{{> jquery}}
<script src="/script.js" charset="utf-8"></script>
