<div class="petitionContainer">
    <div class="petitionWrapper">
        <h1 class=petitionHeader>Brexit</h1>
        <h3 class="petitionSubHeader"><strong>{ </strong>Pronunciation. Brit/'breksit/'<strong> }</strong></h3>

        <p class="petitionBody">Let’s face it, we’re all sick of hearing about it, not just the reality of Brexit itself, which appears to be dragging on ad infinitum but it’s the word itself that still permeates all matters British and European alike at the minute. Unfortunately, it appears we cannot currently reverse the madness of the act that this indelibly horrific term exemplifies, but we could make strides towards consigning this abomination into the swear jar of history by removing it from the </br><a id="oxford" href="https://www.oxfordmail.co.uk/news/14968256.brexit-added-to-the-oxford-english-dictionary/">Oxford english Dictionary.</a>
        <h3 class="petitionSubHeader">Please, help us <span>brextricate, brextract & brexpunge </span>Brexit from the brexicon of everyday life. </br></br></p>
        {{#unless loggedin}}
            <a href="/registration">Register here, {{first}} to support our cause</a>
        {{/unless}}

        {{#if loggedin}}
            <form id="petitionFormField" method="POST">
                <div class="canvasField">
                    <input id="signatureField" type="hidden" list="input" autocomplete="off" name="signature"></input>
                    <canvas id="signatureCanvas" width="380" height="200"></canvas>
                </div>
                <input name="_csrf" type="hidden" value="{{csrfToken}}">
                <div class="buttonContainer">
                    <button class="mainButton">Submit</button>
                    <div class="mainButton" id="canvasClear">clear</div>
                </div>
            </form>
        {{/if}}
    </div>


{{#if error}}
    <p id="error">{{error}}</p>
{{/if}}
</div>
