<div class="petitionContainer colCenter">
    <div class="petitionWrapper">
        <div class="404Container">
            <h3 class="redirect_text">Oops, {{first}} it appears you're a little confused and a lot like Brexit, you've gone a bit off the rails, don't be a Boris</h3></br>
            <a class="mainButton" href="/">Join us</a>
        </div>
    </div>
</div>
