<div class="adminContainer">
    <h3 class="adminH3">Registration</h3>
    <form class="mainForm"autocomplete="off" id="regForm" method="POST">
        <input id="firstNameReg" autocomplete="new-password" placeholder="First name" type="text" name="first">
        <input id="LastNameReg" autocomplete="new-password" placeholder="Last name" type="text" name="last">
        <input id="emailReg" autocomplete="off" placeholder="Email address" type="email" name="email">
        <input id="passwordReg"  class="lastInput" autocomplete="off" placeholder="Password" type="password" name="password">
        <button type="submit" class="mainButton">Submit</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    {{#if loggedin}}
        <a href="/logout">You are logged in, {{first}}. Logout here</a>
        {{else}}
        <p>Already have an account?</p><a class="error_alert" href="/login">Login here</a>
    {{/if}}

    {{#if error}}
        <p class="error_alert">{{error}}</p>
    {{/if}}
</div>
