/* =================================
IMPORTED STYLES
================================= */
@import url("/fonts/montserrat/montserrat_stylesheet.css");
@import url("/fonts/montserrat/montserrat_stylesheet.css");
@import url("/fonts/playfair_display/playfair_stylesheet.css");
body {
  -webkit-animation: fadein 1.5s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 1.5s;
  box-sizing: border-box;
  margin: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  border: 1px solid rgba(0, 0, 0, 0);
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

img,
p {
  width: 100%;
  height: auto;
  vertical-align: middle;
  display: block;
}

a {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #e6e4df;
}

a:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #4c4c4c;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  font-family: "montserratlight", Helvetica, serif;
  font-weight: 200;
  background: #e2e2e2;
  color: #969595;
  width: 100%;
  margin: 0 auto;
  background-image: url(/img/noise.png), -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 750, color-stop(0%, #f7931e), color-stop(100%, #f15a24));
  width: 100%;
  background-color: #f7931e;
}

.signeeContainer {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.signeeWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

#error {
  font-family: Playfair display;
  font-weight: 600;
  font-size: 1.6rem;
  margin-top: 1rem;
  color: #e9e9e9;
}

.linkText {
  font-family: "montserratlight", Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.35;
  letter-spacing: 0.0025rem;
  color: #e6e4df;
}

.mainPage {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  width: 100vw;
  background: #da8125;
}

.headerFixed {
  background: rgba(0, 0, 0, 0.15);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-clip-path: polygon(0 25%, 100% 15%, 100% 0, 0 0);
  clip-path: polygon(0 25%, 100% 15%, 100% 0, 0 0);
}

.footerFixed {
  background: rgba(0, 0, 0, 0.15);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0 100%);
  clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0 100%);
}

.footerFixed .partialNav ul li a {
  color: white;
  font-size: 1.2rem;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.copyright {
  font-size: 1rem;
  color: #da8125;
  text-align: center;
}

.containerNav {
  position: fixed;
  top: 2vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.containerNav h5 {
  color: white;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1vw;
}

.gridNav {
  text-align: center;
  display: grid;
  width: 50vw;
  height: 11vw;
  grid-template-columns: 4;
  grid-template-rows: 1;
  color: rgba(0, 0, 0, 0.3);
  animation: 0.5s twister 0.25s forwards;
  transform: scale(0.85);
  opacity: 0;
  grid-gap: 2vw;
}
.gridNav li {
  font-size: 0.7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.05);
  transition: all 0.25s ease-in;
  animation: 0.5s twister 0.25s forwards;
  transform: scale(0.85);
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
}
.gridNav li:hover {
  transition: all 0.25s ease-in;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

/* main nav */
.gridNav li a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease-in;
  top: -100%;
  color: #000;
  text-align: center;
  opacity: 0;
  font-size: 1.35vw;
}

.gridNav li i {
  color: rgba(0, 0, 0, 0.3);
  transition: all 0.25s ease-in;
  color: #000;
  font-size: 2.5vw;
  opacity: 1;
}

/* Nav Hover state */
.gridNav li:hover a {
  opacity: 1;
  top: 50%;
  transition: all 0.25s ease-in;
  color: #fff;
}

.gridNav li:hover i {
  transform: translateY(6vh);
  transition: all 0.25s ease-in;
  opacity: 0;
}

/* Nav Active state */
.gridNav li:active {
  transition: all 0.1s ease-in;
  cursor: auto;
  background: orange;
}

.gridNav li {
  grid-row: 1/1;
}

.gridNav li:nth-child(1) {
  grid-column: 1/2;
  animation-delay: 0.2s;
}

.gridNav li:nth-child(2) {
  grid-column: 2/3;
  animation-delay: 0.4s;
}

.gridNav li:nth-child(3) {
  grid-column: 3/4;
  animation-delay: 0.6s;
}

.gridNav li:nth-child(4) {
  grid-column: 4/5;
  animation-delay: 0.8s;
}

@keyframes twister {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@media (min-width: 980px) {
  .containerNav {
    top: 3vw;
    left: 4vw;
    transform: translateX(0);
  }
  .containerNav .flashMessage {
    font-size: 0.8vw;
  }

  .gridNav {
    width: 10vw;
    height: 10vw;
    grid-template-columns: 2;
    grid-template-rows: 2;
    grid-gap: 0.4vw;
  }
  .gridNav li {
    font-size: 0.7vw;
    overflow: hidden;
    cursor: pointer;
  }
  .gridNav li a {
    font-size: 0.75vw;
  }
  .gridNav li i {
    font-size: 1vw;
  }

  /* main nav */
  .gridNav li:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .gridNav li:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .gridNav li:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .gridNav li:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media (min-width: 1600px) {
  .containerNav {
    top: 3vw;
    left: 4vw;
    transform: translateX(0);
  }
  .containerNav .flashMessage {
    font-size: 0.8vw;
  }
  .containerNav h5 {
    font-size: 1rem;
  }

  .gridNav {
    width: 8vw;
    height: 8vw;
    grid-gap: 0.4vw;
  }
  .gridNav li {
    font-size: 0.7rem;
  }
}
*:focus {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
  border: none;
}

#petitionFormField {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.canvasField {
  display: flex;
  flex-direction: column;
}

#signatureField {
  opacity: 0.5;
  z-index: 5;
}

#signatureCanvas {
  border: 1px solid #da8125;
  opacity: 0.5;
  background: #e6e4df;
}

.names {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainButton,
input[type=button] {
  transition: 0.25s all ease-in-out;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0);
  margin-top: 2rem;
  background: #4c4c4c;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin: 1rem 0.5rem;
  font-family: "montserratlight";
  color: #e6e4df;
}

.mainButton:hover,
input[type=button]:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: rgba(9, 99, 134, 0.75);
  padding: 0.75rem 1.5rem;
  color: white;
}

.mainButton:active,
input[type=button]:active {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  background: #0c084c;
  color: #e6e4df;
}

.mainButton i {
  margin-right: 0.5rem;
}

fieldset {
  font-family: "montserratlight", Helvetica, sans-serif;
  border: none;
  box-shadow: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 400px;
  color: #4c4c4c;
}

input {
  border: none;
  padding: 0 0 0 20px;
  background: #333333;
  font-size: 1.2rem;
  border-radius: 3px;
  margin-top: 0.75rem;
  color: #4c4c4c;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding: 2rem;
  animation-duration: 0.75s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  top: 0;
  overflow: hidden;
  width: 90%;
  height: 4vh;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    width: 1px;
  }
  60% {
    width: 380px;
    height: 1px;
    opacity: 1;
  }
  100% {
    width: 380px;
    height: 4vh;
    opacity: 1;
  }
}
input:last-child {
  margin-bottom: 1rem;
  animation-delay: 2s;
}

input:focus,
textarea:focus {
  /* ---------- input text colour ---------- */
  background: #4c4c4c;
  border: none;
  color: #da8125;
  outline: none;
}

input[type=submit] {
  /* ---------- send message box ---------- */
  background: #4c4c4c;
  border-radius: 2px;
  border-style: none;
  color: #333333;
  cursor: pointer;
  float: right;
  height: 30px;
  line-height: 20px;
  text-align: center;
  margin: 2rem auto;
  padding: calc(0.5rem + 1rem);
  font-size: calc(0.5rem + 0.5vw);
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

input[type=submit]:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  /*-- send message button --*/
  background: #da8125;
  color: #fff;
}

.adminH1 {
  font-family: "montserratlight", Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.35;
  letter-spacing: 0.0025rem;
  color: #e6e4df;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.adminH1 h3 {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: 1.8rem;
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.25;
  letter-spacing: 0.001rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.adminContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  margin: auto;
  text-align: center;
  padding: calc(1rem + 1vw);
}

.regContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  margin: auto;
  text-align: center;
  width: 40vw;
  height: auto;
  border-radius: 5px;
  padding: calc(1rem + 1vw);
}

.regContainer h3 {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: 1.8rem;
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.25;
  letter-spacing: 0.001rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.regContainer p {
  margin-top: 1rem;
}

.regContainer a {
  margin-top: 1rem;
  color: #da8125;
}

.loginPage {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30vw;
  text-align: center;
}

.profileContainer {
  text-align: center;
  width: 50vw;
}

.profileContainer h1 {
  text-transform: uppercase;
  color: white;
  padding: 0 6rem;
}

.signeeWrapper {
  margin-bottom: 1rem;
}

.signeesList:first-child {
  white-space: pre;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  margin-right: 1rem;
  padding-right: 1rem;
  color: #e6e4df;
}

.signeesList:last-child {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  margin: 0 0 0 1rem;
  padding: 0 0 0 1rem;
}

.signeeWrapper .signeeAge {
  color: white;
}

.petitionContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: auto;
  width: 100vw;
  letter-spacing: 0.001rem;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.colCenter {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.petitionWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 90vw;
  margin-top: 10vh;
  letter-spacing: 0.001rem;
  z-index: 10;
}

.petitionHeader {
  font-family: "playfair_displayregular", Georgia, serif;
  font-size: 3.6rem;
  color: #da8125;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.05rem;
  margin-bottom: 2rem;
  padding-bottom: 0;
  opacity: 0;
  color: #e6e4df;
  animation: 0.75s fadeIn 1s linear forwards;
}

.petitionWrapper .petitionSubHeader {
  font-family: "playfair_displayregular", Georgia, serif;
  font-size: 2.2rem;
  color: #4c4c4c;
  font-weight: 300;
  line-height: 1.15;
  letter-spacing: 0.05 rem;
  margin-bottom: 2rem;
  opacity: 0;
  animation: 0.75s fadeIn 3s linear forwards;
}

.petitionSubHeader:first-child {
  font-size: 2.8rem;
  margin-top: -1rem;
  animation: 0.75s fadeIn 5s linear forwards !important;
}

.petitionSubHeader strong {
  margin-top: 1rem;
  font-size: 3rem;
  color: #e6e4df;
}

.petitionSubHeader span {
  color: #e6e4df;
  font-weight: 700;
}

.petitionBody {
  font-family: "montserratlight", Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.35;
  letter-spacing: 0.0025rem;
  color: #e6e4df;
  width: 40vw;
  text-align: center;
  line-height: 1.8;
  margin-bottom: 2rem;
  animation: 0.75s fadeIn 5s linear forwards !important;
}

.petitionBody #oxford {
  background: rgba(0, 0, 0, 0.25);
  padding: 0.5rem 0.5rem;
  color: white;
  margin-top: 1rem;
}

.petitionBody #oxford {
  background: rgba(0, 0, 0, 0.25);
  padding: 0.5rem 0.5rem;
  color: white;
  margin-top: 1rem;
}

.buttonContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
.borisBackdrop {
  background: url("/images/boris_1.png") no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: cover;
  opacity: 0.25;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.thankyouPage {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  z-index: 100;
}

.thankyouPage a {
  margin-top: 1rem;
}

.signatureThanks {
  width: 20vw;
  margin: 0 auto;
  text-align: center;
}

.boJoText {
  color: #e6e4df;
}

@media (min-width: 980px) {
  .petitionWrapper {
    width: 50vw;
    margin-top: 5vh;
  }
}

/*# sourceMappingURL=style.css.map */
