/* =================================
IMPORTED STYLES
================================= */
@import url("/fonts/montserrat/montserrat_stylesheet.css");
@import url("/fonts/montserrat/montserrat_stylesheet.css");
@import url("/fonts/playfair_display/playfair_stylesheet.css");
body {
  -webkit-animation: fadein 1.5s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 1.5s;
  box-sizing: border-box;
  margin: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  border: 1px solid rgba(0, 0, 0, 0);
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

img,
p {
  width: 100%;
  height: auto;
  vertical-align: middle;
  display: block;
}

a {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #e6e4df;
}

a:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #4c4c4c;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  font-family: "montserratlight", Helvetica, serif;
  font-weight: 200;
  background: #e2e2e2;
  color: #969595;
  width: 100%;
  margin: 0 auto;
  background-image: url("../images/noise.png"), -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 750, color-stop(0%, #ad5389), color-stop(100%, #3c1053));
  background-repeat: repeat;
}

.signeeContainer {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.signeeWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.error_alert {
  font-family: "montserratlight", Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.35;
  letter-spacing: 0.0025rem;
  font-weight: 100;
  font-size: 1.1rem;
  margin-top: 1rem;
  color: #da8125;
  text-align: center;
}

.linkText {
  font-family: "montserratlight", Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.35;
  letter-spacing: 0.0025rem;
  color: #e6e4df;
  margin-top: 3rem;
}

.mainPage {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  width: 100vw;
}

.headerFixed {
  background: rgba(0, 0, 0, 0.15);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-clip-path: polygon(0 25%, 100% 15%, 100% 0, 0 0);
  clip-path: polygon(0 25%, 100% 15%, 100% 0, 0 0);
}

.footerFixed {
  background: rgba(0, 0, 0, 0.15);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0 100%);
  clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0 100%);
}

.footerFixed .partialNav ul li a {
  color: white;
  font-size: 1.2rem;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.copyright {
  font-size: 1rem;
  color: #da8125;
  text-align: center;
}

.containerNav {
  position: fixed;
  top: 2vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.containerNav h5 {
  color: white;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1vw;
}

.gridNav {
  text-align: center;
  display: grid;
  width: 50vw;
  height: 11vw;
  grid-template-columns: 4;
  grid-template-rows: 1;
  color: rgba(0, 0, 0, 0.5);
  animation: 0.5s twister 0.25s forwards;
  transform: scale(0.85);
  opacity: 0;
  grid-gap: 2vw;
}
.gridNav li {
  font-size: 0.7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.15);
  transition: all 0.25s ease-in;
  animation: 0.5s twister 0.25s forwards;
  transform: scale(0.85);
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}
.gridNav li:hover {
  transition: all 0.25s ease-in;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

/* main nav */
.gridNav li a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease-in;
  top: -100%;
  color: #000;
  text-align: center;
  opacity: 0;
  font-size: 1.35vw;
}

.gridNav li i {
  color: rgba(0, 0, 0, 0.3);
  transition: all 0.25s ease-in;
  color: #e6e4df;
  font-size: 2.5vw;
  opacity: 1;
}

/* Nav Hover state */
.gridNav li:hover a {
  opacity: 1;
  top: 50%;
  transition: all 0.25s ease-in;
  color: #fff;
}

.gridNav li:hover i {
  transform: translateY(6vh);
  transition: all 0.25s ease-in;
  opacity: 0;
}

/* Nav Active state */
.gridNav li:active {
  transition: all 0.1s ease-in;
  cursor: auto;
  background: orange;
}

.gridNav li {
  grid-row: 1/1;
}

.gridNav li:nth-child(1) {
  grid-column: 1/2;
  animation-delay: 0.2s;
}

.gridNav li:nth-child(2) {
  grid-column: 2/3;
  animation-delay: 0.4s;
}

.gridNav li:nth-child(3) {
  grid-column: 3/4;
  animation-delay: 0.6s;
}

.gridNav li:nth-child(4) {
  grid-column: 4/5;
  animation-delay: 0.8s;
}

@keyframes twister {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@media (min-width: 980px) {
  .containerNav {
    top: 3vw;
    left: 4vw;
    transform: translateX(0);
  }
  .containerNav .flashMessage {
    font-size: 0.8vw;
  }

  .gridNav {
    width: 10vw;
    height: 10vw;
    grid-template-columns: 2;
    grid-template-rows: 2;
    grid-gap: 0.4vw;
  }
  .gridNav li {
    overflow: hidden;
    cursor: pointer;
  }
  .gridNav li a {
    font-size: 0.65vw;
  }
  .gridNav li i {
    font-size: 1vw;
  }

  /* main nav */
  .gridNav li:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .gridNav li:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .gridNav li:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .gridNav li:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media (min-width: 1600px) {
  .containerNav {
    top: 3vw;
    left: 4vw;
    transform: translateX(0);
  }
  .containerNav .flashMessage {
    font-size: 0.7vw;
  }
  .containerNav h5 {
    font-size: 1rem;
  }

  .gridNav {
    width: 8vw;
    height: 8vw;
    grid-gap: 0.4vw;
  }
  .gridNav li {
    font-size: 0.7rem;
  }
}
*:focus {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
  border: none;
}

input,
select,
fieldset,
textarea,
button {
  background: #333333;
  border: none;
}

#petitionFormField {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.canvasField {
  display: flex;
  flex-direction: column;
}

#signatureField {
  opacity: 0.5;
  z-index: 5;
}

#signatureCanvas {
  opacity: 0.5;
  background: #e6e4df;
}

.signatureThanks {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 50%;
}

.mainButton {
  cursor: pointer;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin: 1rem 0.5rem;
  font-family: "montserratlight";
  font-size: 1rem;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
  color: #e6e4df;
}

.mainButton:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: rgba(0, 0, 0, 0.7);
  padding: 0.75rem 1.5rem;
  color: #da8125;
}

.mainButton:active {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  background: #da8125;
  color: #e6e4df;
}

.mainButton i {
  margin-right: 0.5rem;
}

.mt0 {
  margin-top: 0;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt5 {
  margin-top: 5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb5 {
  margin-bottom: 5rem;
}

.adminContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  margin: auto;
  width: 40vw;
  text-align: center;
  border-radius: 5px;
  padding: calc(1rem + 1vw);
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    height: 0;
    padding: 0;
  }
  50% {
    opacity: 0.5;
    height: 50%;
    padding: 0;
  }
  90% {
    opacity: 0.8;
    height: 120%;
    padding: calc(1rem + 1vw);
  }
  100% {
    opacity: 1;
    height: 100%;
    padding: calc(1rem + 1vw);
  }
}
.adminH3 {
  font-family: "montserratlight", Helvetica, sans-serif;
  font-size: 1.8rem;
  color: #e6e4df;
  font-weight: 100;
  line-height: 1.25;
  letter-spacing: 0.001rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #e6e4df;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.015rem;
}

.adminContainer p {
  margin-top: 1rem;
}

.adminContainer a {
  margin-top: 0.25rem;
  color: #da8125;
}

input {
  padding: 0 0 0 20px;
  background: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  border-radius: 3px;
  margin-top: 0.75rem;
  color: #4c4c4c;
  padding: 2rem;
  top: 0;
  overflow: hidden;
  width: 90%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

input.lastInput {
  margin-bottom: 1.25rem;
}

@keyframes reveal {
  0% {
    opacity: 0;
    padding: 0rem;
  }
  20% {
    opacity: 0.5;
    padding: 1rem;
  }
  70% {
    opacity: 0.8;
    padding: 2.5rem;
  }
  100% {
    opacity: 1;
    padding: 2rem;
  }
}
input:last-child {
  margin-bottom: 1rem;
  animation-delay: 2s;
}

input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.35);
  border: none;
  color: #da8125;
  outline: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.profileContainer {
  text-align: center;
  width: 50vw;
}

.profileContainer .mainSansHeader {
  text-transform: uppercase;
  color: white;
  padding: 0 6rem;
}

.signeeWrapper {
  margin-bottom: 1rem;
}

.signeesList:first-child {
  white-space: pre;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  margin-right: 1rem;
  padding-right: 1rem;
  color: #e6e4df;
}

.signeesList:last-child {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  margin: 0 0 0 1rem;
  padding: 0 0 0 1rem;
}

.signeeWrapper .signeeAge {
  color: white;
}

.petitionContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: auto;
  width: 100vw;
  letter-spacing: 0.001rem;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.colCenter {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.petitionWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 90vw;
  margin-top: 10vh;
  letter-spacing: 0.001rem;
  z-index: 10;
}

.petitionHeader {
  font-family: "playfair_displayregular", Georgia, serif;
  font-size: 4.8rem;
  color: #e6e4df;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.05rem;
  margin-bottom: 0;
  padding-bottom: 0;
  opacity: 0;
  display: none;
}

.petitionSubHeader {
  font-family: "playfair_displayregular", Georgia, serif;
  font-size: 2.2rem;
  color: rgba(230, 228, 223, 0.65);
  font-weight: 300;
  line-height: 1.15;
  letter-spacing: 0.05 rem;
  margin-bottom: 2rem;
  opacity: 0;
  display: none;
}

.petitionSubHeader:first-child {
  font-size: 2.8rem;
}

.petitionSubHeader strong {
  margin-top: 1rem;
  font-size: 3rem;
  color: #e6e4df;
}

.petitionSubHeader span {
  color: #e6e4df;
  font-weight: 700;
}

.petitionBody {
  font-family: "montserratlight", Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.35;
  letter-spacing: 0.0025rem;
  color: rgba(230, 228, 223, 0.65);
  width: 50vw;
  text-align: center;
  line-height: 2;
  margin-bottom: 2rem;
  margin-top: 2rem;
  opacity: 0;
  display: none;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.animation {
  animation: 4s fadeInfadeOut 5s linear forwards !important;
}

.forwards {
  animation-fill-mode: forwards;
}

.introContainer {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.introContainer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("/images/rees-mogg.png") no-repeat;
  background-position: center bottom;
  filter: grayscale(80%);
  opacity: 0;
  transform: scale(1);
  animation: 4s backgroundFadeInOut 16s linear forwards;
}

@keyframes backgroundFadeInOut {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  20% {
    opacity: 0.15;
  }
  80% {
    opacity: 0.15;
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
.fadeIn {
  animation: 1s fadeIn 2s linear forwards;
  z-index: 1000;
  display: block;
}

.fadeInfadeOut {
  animation: 4s fadeInfadeOut 2s linear forwards;
  z-index: 1000;
  display: block;
}

.delayOne {
  animation-delay: 7.5s;
}

.delayTwo {
  animation-delay: 12s;
}

.delayThree {
  animation-delay: 16s;
  animation-fill-mode: forwards;
}

.delayFour {
  animation-delay: 18s;
  animation-fill-mode: forwards;
}

.delayFive {
  animation-delay: 20s;
  animation-duration: 5s;
}

.delaySix {
  animation-delay: 25s;
  animation-duration: 5s;
}

.delaySeven {
  animation-delay: 30s;
  animation-duration: 5s;
}

.titleTwo {
  animation: 4s fadeInfadeOut 0 linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes fadeInfadeOut {
  50% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
#oxford {
  background: rgba(0, 0, 0, 0.25);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #e6e4df;
  margin-top: 1rem;
  display: inline-block;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#oxford:hover {
  color: #da8125;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.buttonContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.borisBackdrop {
  background: url("/images/boris_1.png") no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: cover;
  opacity: 0.25;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.thankyouPage {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  z-index: 100;
}

.thankyouPage a {
  margin-top: 1rem;
}

.signatureThanks {
  width: 20vw;
  margin: 0 auto;
  text-align: center;
}

.boJoText,
.redirect_text {
  font-family: "montserratlight", Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.35;
  letter-spacing: 0.0025rem;
  color: #e6e4df;
  line-height: 2.2rem;
}

@media (min-width: 980px) {
  .petitionWrapper {
    width: 50vw;
    margin-top: 5vh;
  }
}

/*# sourceMappingURL=style.css.map */
