////////////////////////////////////
//          FORM STYLES           //
////////////////////////////////////

// GENERAL: RESETS
*:focus {
    outline: none;
    border: none;
}
button:focus {
    outline: 0;
    border: none;
}
input,
select,
fieldset,
textarea,
button {
    background: $accent-color;
    border: none;
}

////////////////////////////////////
//          BUTTON STYLES         //
////////////////////////////////////

.mainButton {
    cursor: pointer;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 0.75rem 1rem;
    border-radius: 5px;
    @include transition(all, 0.2s, ease-out);
    margin: 1rem 0.5rem;
    font-family: $bodytext;
    font-size: 0.75rem;
    text-transform: uppercase;
    background: $buttonReg;
    color: $buttonTextReg;
}
.mainButton:hover {
    @include transition(all, 0.2s, ease-out);
    background: $buttonHover;
    // padding: 0.75rem 1.5rem;
    color: $buttonTextHover;
}
.mainButton:active {
    @include transition(all, 0.1s, ease-out);
    background: $buttonActive;
    color: $buttonTextActive;
}
.mainButton i {
    margin-right: 0.5rem;
}

////////////////////////////////////
//    LOGIN/REGISTRATION FORMS    //
////////////////////////////////////
// for log in and register

// MAIN CONTAINER FOR LOGIN/REG/PROFILE FORMS
.adminContainer {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    background: rgba(0, 0, 0, 0.6);
    margin: auto;
    width: 90vw;
    text-align: center;
    border-radius: 5px;
    padding: calc(1rem + 1vw);

    // animation: bounceIn 0 cubic-bezier(0.1, 0.7, 1, 0.1) 0.5s forwards;
}
@keyframes bounceIn {
    0% {
        opacity: 0;
        height: 0;
        padding: 0;
    }
    50% {
        opacity: 0.5;
        height: 50%;
        padding: 0;
    }
    90% {
        opacity: 0.8;
        height: 120%;
        padding: calc(1rem + 1vw);
    }
    100% {
        opacity: 1;
        height: 100%;
        padding: calc(1rem + 1vw);
    }
}
.adminH3 {
    @include H3-Headers-montserrat;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $light-accent-color;
    // text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.015rem;
}
.adminContainer p {
    margin-top: 1rem;
}
.adminContainer a {
    margin-top: 0.25rem;
    color: $primary-color;
}
.adminForm {
    width: 100%;
}
input {
    // email/name inputs etc ///////////////////////
    padding: 0 0 0 20px;
    background: $inputfield;
    font-size: 1rem;
    border-radius: 3px;
    margin-top: 0.75rem;
    color: $complimentary-color;
    padding: 1.5rem;
    // animation-name: reveal;
    // animation-duration: 2s;
    // animation-delay: 0.25s;
    // animation-fill-mode: forwards;
    // animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
    // animation: reveal 0s cubic-bezier(0.1, 0.7, 1, 0.1) 0.45s forwards;
    top: 0;
    overflow: hidden;
    width: 90%;
    @include transition(all, 0.2s, ease-out);
}
.updateButtonsContainer {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
input.lastInput {
    margin-bottom: 1.25rem;
}

@keyframes reveal {
    0% {
        opacity: 0;
        padding: 0rem;
    }
    20% {
        opacity: 0.5;
        padding: 1rem;
    }
    70% {
        opacity: 0.8;
        padding: 2.5rem;
    }
    100% {
        opacity: 1;
        padding: 2rem;
    }
}
input:last-child {
    margin-bottom: 1rem;
    animation-delay: 2s;
}
// input text colour ////////////////////////////
input:focus,
textarea:focus {
    background: $inputfieldfocus;
    border: none;
    color: $primary-color;
    outline: none;
    @include transition(all, 0.2s, ease-out);
}

////////////////////////////////////
//      EDIT & PROFILE FORM       //
////////////////////////////////////

.profileContainer {
    text-align: center;
    width: 60vw;
}
.profileContainer .mainSansHeader {
    text-transform: uppercase;
    color: white;
    padding: 0 6rem;
}

////////////////////////////////////
//  PETITION SIGNEES > EDIT       //
////////////////////////////////////
.signeeWrapper {
    margin-bottom: 1rem;
}
.signeesList:first-child {
    white-space: pre;
    border-right: 1px solid $lightcomplimentary-color;
    margin-right: 1rem;
    padding-right: 1rem;
    color: $light-accent-color;
}
.signeesList:last-child {
    border-left: 1px solid $lightcomplimentary-color;
    margin: 0 0 0 1rem;
    padding: 0 0 0 1rem;
}
.signeeWrapper .signeeAge {
    color: white;
}

@media all and (min-width: 780px) {
    .petitionWrapper {
        max-width: 60vw;
    }
    .adminContainer {
        width: 40vw;
    }
}
