////////////////////////////////////
//        PETITION FIELD          //
////////////////////////////////////

// MOBILE FIRST

.petitionContainer {
    @include flexbox();
    @include justify-content(center);
    @include flex-direction(column);
    @include align-items(center);
    height: 100vh;
    width: 100vw;
    letter-spacing: 0.001rem;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.petitionWrapper {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    width: 90vw;
    // margin-top: 10vh;
    letter-spacing: 0.001rem;
    z-index: 10;
}
.petitionHeader {
    @include H1-Headers-playfair-display;
    margin-bottom: 2rem;
    padding-bottom: 0;
    opacity: 0;
    // visibility: collapse;
}
.petitionSubHeader {
    @include H3-Headers-playfair-display;
    margin-bottom: 1rem;
    opacity: 0;
    visibility: collapse;
}
.petitionSubHeader:first-child {
    font-size: 2.4rem;
}
.petitionSubHeader strong {
    margin-top: 1rem;
    font-size: 3rem;
    color: $light-accent-color;
}
.petitionSubHeader span {
    color: $light-accent-color;
    font-weight: 700;
}
.petitionBody {
    @include LightText-montserrat;
    color: $lightcomplimentary-color;
    text-align: center;
    line-height: 2;
    margin-bottom: 2rem;
    margin-top: 2rem;
    opacity: 0;
    visibility: collapse;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.animation {
    animation: 4s fadeInfadeOut 5s linear forwards !important;
}
.forwards {
    animation-fill-mode: forwards;
}

// intro background
.introContainer {
    @include flexbox();
    @include justify-content(center);
    @include flex-direction(column);
    @include align-items(center);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    animation: 4s vanish 15s linear forwards;
    z-index: 100;
}
@keyframes vanish {
    100% {
        display: none;
        z-index: -100;
    }
}

.introContainer::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background: url("/images/rees-mogg.png") no-repeat;
    background-position: center bottom;
    filter: grayscale(80%);
    opacity: 0;
    transform: scale(1);
    animation: 4s backgroundFadeInOut 15s linear forwards;
}

.introContainer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background: url("/images/rees-mogg-characature.png") no-repeat;
    background-position: center bottom;
    filter: grayscale(80%);
    opacity: 0;
    transform: scale(1);
    animation: 4s backgroundFadeInOut 19s linear forwards;
}
@keyframes backgroundFadeInOut {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    20% {
        opacity: 0.15;
    }
    80% {
        opacity: 0.15;
    }
    100% {
        opacity: 0;
        transform: scale(1.15);
        display: none;
    }
}
.brexitBackground {
    background: rgba(0, 0, 0, 1);
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    animation: 1s fadeOut 14s linear forwards;
}
// animation states
.fadeIn {
    animation: 1s fadeIn 0.25s linear forwards;
    z-index: 100;
    visibility: visible;
}
.fadeInfadeOut {
    animation: 4s fadeInfadeOut 2s linear forwards;
    visibility: visible;
    z-index: 100;
}
.smallDelay {
    animation-delay: 1s;
}
.delayOne {
    animation-delay: 6s;
}
.delay2 {
    animation-delay: 6s;
}
.delayTwo {
    animation-delay: 10s;
}
.delayThree {
    animation-delay: 14s;
}
.delayFour {
    animation-delay: 16s;
}
.delayFive {
    animation-delay: 18s;
}
.delaySix {
    animation-delay: 20s;
}
.delaySeven {
    animation-delay: 22s;
}
.delayEight {
    animation-delay: 25s;
}
.delayNine {
    animation-delay: 26s;
}
.minDelay {
    animation-delay: 0.5s;
}
.midDelay {
    animation-delay: 1.25s;
}
.hide {
    opacity: 0;
}
.titleTwo {
    animation: 4s fadeInfadeOut 0 linear forwards;
}
.shiftDown {
    opacity: 1;
    margin-top: 30px;
    z-index: 101;
}
.slideUp {
    animation: 4s slideUp 0 linear forwards;
    animation-delay: 24s;
}
.slideDelay {
    animation-delay: 26s;
}
.fadeInSlideUp {
    animation: 4s slideUp 0 linear forwards, 1s fadeIn 2s linear forwards;
    display: block;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        display: block;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeInfadeOut {
    50% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes slideUp {
    100% {
        margin-top: -10rem;
    }
}
#oxford {
    background: rgba(0, 0, 0, 0.25);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: $light-accent-color;
    margin-top: 1rem;
    display: inline-block;
    @include transition(all, 0.2s, ease-out);
}
#oxford:hover {
    color: $primary-color;
    @include transition(all, 0.2s, ease-out);
}

// button container petition page
.buttonContainer {
    @include flexbox();
    @include justify-content(center);
}

////////////////////////////////////
//    SIGNED PETITION PAGE        //
////////////////////////////////////

.borisBackdrop {
    background: url("/images/boris_1.png") no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: cover;
    opacity: 0.25;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.thankyouPage {
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    z-index: 100;
}
.thankyouPage a {
    margin-top: 1rem;
}
.signatureThanks {
    width: 20vw;
    margin: 0 auto;
    text-align: center;
}
.boJoText,
.redirect_text {
    @include LightText-montserrat;
    color: $light-accent-color;
    line-height: 2.2rem;
}
@media (min-width: 980px) {
    .petitionWrapper {
        width: 40vw;
    }
}

.brexitText {
    font-size: 5rem !important;
    margin-bottom: 0;
}
